.chess-cell{
  display: flex;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: #222; 
}

.white {
  background-color: #DDD;
}

.thisIsTheSelectedPiece{
  background-color: blue;
}

.youCanMoveHere{
  background-color: green;
}

.youCanAttackHere{
  background-color: red;
}

.cornerUpLeft {
  border-top-left-radius: 15%;
}

.cornerUpRight {
  border-top-right-radius: 15%;
}

.cornerDownLeft {
  border-bottom-left-radius: 15%;
}

.cornerDownRight {
  border-bottom-right-radius: 15%;
}
  